@model finnfox.TipRacunovodstvenePromene

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje</h2>

<h3>Da li si siguran da želiš da obrišeš ovu vrstu promene?</h3>
<div>
    @*<h4>TipRacunovodstvenePromene</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivTipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PozitivnostTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PozitivnostTipa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <span class="text-danger field-validation-error col-md-10 col-md-offset-2 mb-4">@TempData["ErrorMsg"]</span>
        <div class="form-actions no-color">
            @Html.ActionLink("⬅Nazad u listu tipova promena", "Index", "TipRacunovodstvenePromenes", null, htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="obriši tip" class="btn btn-primary ml-4" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>
        $("input.check-box:checked").after("✔️").hide();
        $("input.check-box:not(:checked)").after("❌").hide();
    </script>
}
