@model finnfox.RacunovodstvenaPromena

@{
    ViewBag.Title = "Brisanje promene na racunu";
}

<h2>Brisanje promene na racunu</h2>

<h4>Da li si siguran da želiš da obrišeš @Html.DisplayFor(model => model.NazivPromene)?</h4>
<div>
    @*<h4>RacunovodstvenaPromena</h4>*@
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.TipRacunovodstvenePromene.NazivTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipRacunovodstvenePromene.NazivTipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivPromene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivPromene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumPromene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPromene)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.KolicinaNovca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolicinaNovca)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="align-with-dt clearfix">
        <input type="submit" value="Obriši promenu" class="btn btn-primary" />
    </div>

    @Html.ActionLink("⬅Nazad u listu promena", "Index")


    }
</div>
