@model finnfox.RacunovodstvenaPromena

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji o promeni na računu</h2>

<div>
    <h4>@Html.DisplayFor(model => model.NazivPromene)</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.TipRacunovodstvenePromene.NazivTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipRacunovodstvenePromene.NazivTipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazivPromene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivPromene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumPromene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPromene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolicinaNovca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolicinaNovca)
        </dd>

    </dl>
</div>
<div class="align-with-dt clearfix">
    @Html.ActionLink("Izmeni", "Edit","RacunovodstvenaPromenas", new { id = Model.PromenaId }, htmlAttributes: new { @class = "btn btn-default" })
</div>

@Html.ActionLink("⬅Nazad u listu promena", "Index")


