@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

@*<button id="click" name="click">KLIKNI ME </button>
<button id="whack" name="click">KLIKNI ME 2 </button>*@
<div class="page-header">
    <h1>Zdravo @User.Identity.GetUserName() !👋 <small>Tvoj balans je <span id="all-time-balance">4000</span> 💰</small></h1>
</div>
<div class="row mt-70">
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <a href="/RacunovodstvenaPromenas">
                <div class="panel-heading">
                    <h4>Promene na računu</h4>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/promene.png" alt="promene-na-racunu" />
                </div>
            </a>
            <div class="panel-footer">
                @Html.ActionLink("Promene na računu", "Index", "RacunovodstvenaPromenas", null, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Nova promena", "Create", "RacunovodstvenaPromenas", null, htmlAttributes: new { @class = "btn btn-default ml-4" })
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <a href="/TipRacunovodstvenePromenes">
                <div class="panel-heading">
                    <h4>Tipovi promena na računu</h4>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/kategorije.png" alt="kategorije-promena-na-racunu" />
                </div>
            </a>
            <div class="panel-footer">
                @Html.ActionLink("tipovi promena", "Index", "TipRacunovodstvenePromenes", null, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Novi tip promene", "Create", "TipRacunovodstvenePromenes", null, htmlAttributes: new { @class = "btn btn-default ml-4" })
            </div>
        </div>
        </a>
    </div>


    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <a href="/RacunovodstvenaPromenas/globalnaAnalitika">
                <div class="panel-heading">
                    <h4>Globalna analitika korisnika</h4>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/globalna-analitika.png" alt="globalna analitika" />
                </div>
            </a>
            <div class="panel-footer">
                @Html.ActionLink("globalna analitika📈", "globalnaAnalitika", "RacunovodstvenaPromenas", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    //$("#click").click(function () {
    //    //console.log($(this))
    //    $.get("http://localhost:1091/RacunovodstvenaPromenas/globalniProcentiUstede", function (data, status) {
    //        console.log(data);
    //    });
    //});

    //$("#whack").click(function () {
    //    //console.log($(this))
    //    $.get("http://localhost:1091/RacunovodstvenaPromenas/promenePoGodini?godina=2019", function (data, status) {
    //        console.log(data);
    //    });
    //});

    $.get("http://localhost:1091/RacunovodstvenaPromenas/balansKorisnika", function (response) {
        console.log(response);
        $("#all-time-balance").html(response);
      });


</script>